<!DOCTYPE html>
<html lang="pt-br">
<%- include('./parciais/head.ejs', { titulo: titulo }) %>
<body>
   
     <%- include('./parciais/nav.ejs') %>

    <div class="conteudo-sobre">
        <h2>Sobre Mim</h2>
        <p>Este é um blog simples criado com Node.js e EJS. Aqui você pode encontrar diversos artigos interessantes sobre programação, tecnologia e muito mais!</p>
        <p>Meu nome é Marcelo Barudi, sou desenvolvedor web e apaixonado por tecnologia. Espero que você goste do conteúdo que compartilho aqui.</p>
        <p>Fique à vontade para explorar o blog e entrar em contato se tiver alguma dúvida ou sugestão!</p>
    </div>
    

<%- include('./parciais/footer.ejs') %>
</body>
</html>