<nav>
    
            <div class="titulo-site">
            <h1>Máximo Brasil Manutenção</h1>
            <h2>Bem-vindo ao nosso Blog!</h2>
        </div>
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/sobre">Sobre</a></li>
            <li><a href="/blog/criar">Novo Blog</a></li>
        </ul>
    
    </nav>